<!DOCTYPE html>
<html lang="zh-cmn-Hans-CN">
<head>
	<meta charset="UTF-8">
	<title>REACT-GENERATOR</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="apple-itunes-app" content="app-id=1074541592"/>
	<meta http-equiv="Cache-Control" content="max-age=31536000"/>

	<link rel="icon" href="http://s.lekongkong.com/lkk/favicon.png" mce_href="http://s.lekongkong.com/lkk/favicon.png" type="image/x-icon"/>
	<link rel="shortcut icon" href="http://s.lekongkong.com/lkk/favicon.png" mce_href="http://s.lekongkong.com/lkk/favicon.png" type="image/x-icon"/>

</head>
<body>
</body>
</html>